.cryptoTrackerOdd,
.cryptoTrackerEven {
	background: #f8f8f8;
    padding: 0 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.cryptoTrackerEven {
    background: #ffffff;
    grid-template-columns: 1fr 1fr;
}
.cryptoTrackerSingle{
    grid-template-columns: 1fr;
    height: auto;
    background: #f8f8f8;
}

.contentText{
    display: block;
    margin: auto;
}
.contentText h5{
    font-size: 13px;
    font-weight: lighter;
    color: #333333;
}
.contentImg{
    width: 45vw;
    margin: 15px 0;
    display : inline-block
}
.singleImg{
    width: 45vw;
    margin: auto;
    margin-bottom: 50px;
    display : inline-block;
}
/* ################################################# */
.cryptoTrackerOdd .contentText h5,
.cryptoTrackerEven .contentText h5{
    padding-right: 15%;
}

.cryptoTrackerOdd .contentText,
.cryptoTrackerEven .contentText{
    margin-left: 25px;
}