

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.home-header{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:block;
    margin: auto;
    margin-top: 125px;
}

.home-selfie{
    width: 125px;
    border-radius: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.home-title{
    font-weight: 600;
    font-size: 38px;
    line-height: 44px;
    color: #222;
    letter-spacing: -1px;
    margin: 0 0 15px;
}
.home-bio{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #aaa;
}


.home-nav{
    display: block;
    text-align: center;
    margin-top: 25px;
}
.hone-nav-item{
    display: inline-block;
}
.hone-nav-item:hover{
    border-bottom: 2px solid #333;
}
.hone-nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
    margin: 0 20px;
}
.list{
    padding: 0px;
}

