html {
    font: 12px/1.5 "Segoe UI light", Helvetica, Arial, sans-serif;
}
body {
    margin: 0 0 100px;
    padding: 25px;
    background-color: #519fe3;
}
/* ##################################################################### */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    min-height: 50px;
    max-height: 50px;
}
    li a.tw{
        padding: 1.45%;
    }
    li a.normal {
        float: left;
        color: white;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
    }
    li a.about {
        float: right;
        color: white;
        text-align: center;
        padding: 0px 15px;
        text-decoration: none;
        background-color: #222;
        padding: 15px;
    }
    li a:hover:not(.active) {
        background-color: #111;
        border-bottom: 3px solid white;
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 35px;
    width: 100%;
    overflow: hidden;
}
.img-circle {
    border-radius: 50%;
}

h1 {
    padding-top: 40px;
    margin: 20px;
    font-weight: lighter;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
/* ######################################################## */





