<header class="site-header">
	<div>

		<nav class="nav-container">
			<a class="site-logo" href="/">
				<span class="site-logo-text">IE</span>
			</a>

			{% assign current = page.url | downcase | split: '/' %}

			<ul class="nav-right">
				<li><a href="/blog/" {% if current[1] == 'blog' %}style='font-weight: 600' {% endif %}>Blog</a></li>
				<li><a href="/projects/" {% if current[1] == 'projects' %}style='font-weight: 600'
						{% endif %}>Projects</a></li>
				<li><a href="/about" {% if current[1] == 'about' %}style='font-weight: 600' {% endif %}>About</a></li>
			</ul>

		</nav>

	</div>
</header>