<header class="site-header">
	<div>
		
		<nav class="site-nav">
			<div class="trigger">
				<a href="{{ site.baseurl }}/">Home</a>

				{% for page in site.pages %}
				{% if page.title %}
				<!-- and page.title != "About" %}  -->
				<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
				{% endfor %}

				<div class="site-nav-right">
					<h3>Ismael Estalayo</h3>
					<a href="/about"><img src="/assets/profile1.jpg"/></a>
				</div>
			</div>
		</nav>

	</div>
</header>