/* ####################################
			Shared
#################################### */

.drop-shadow {
    filter: drop-shadow(0px 0px 20px #f0f0f020);
    &:hover {
        filter: drop-shadow(0px 0px 20px #f0f0f040);
    }
    @media screen and (max-width: $on-laptop) {
        filter: drop-shadow(0px 0px 20px #f0f0f040);
    }
    @media (prefers-color-scheme: dark) {
        filter: drop-shadow(0px 0px 20px #20202020);
        &:hover {
            filter: drop-shadow(0px 0px 25px #20202040);
        }
        @media screen and (max-width: $on-laptop) {
            filter: drop-shadow(0px 0px 25px #20202040);
        }
    }
}

/***** Site header ***********************************************************/

.site-header {
    width: 100%;
    z-index: 50;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: $nav-height;
    margin: 0 auto;
    max-width: 70rem;
    padding: 2rem 5%;
}

.site-logo {
    display: block;
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
    height: 50px;
    width: 50px;
    .site-logo-text {
        font-weight: 700;
        font-size: 1rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: transform 0.4s ease-in-out;
    }
}
.site-logo:hover {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform 0.4s ease-in-out;
    .site-logo-text {
        transform: translate(-50%, -50%) rotate(90deg);
        transform-origin: center;
    }
}

@media (prefers-color-scheme: dark) {
    .site-logo {
        border: 2px solid #eee;
    }
}
@media (prefers-color-scheme: light) {
    .site-logo {
        border: 2px solid #111;
    }
}

.nav-right {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    li a {
        font-size: 1.1rem;
    }
    li:not(:first-child) {
        margin-left: 2rem;
    }
}

.header-bar {
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10vh;
    line-height: 2em;
    z-index: 25;
    h5 {
        font-size: 0.9rem;
        color: #aaa;
        font-weight: 100;
    }
}

.header-image {
    margin: 0 auto;
    width: fit-content;
    display: block;
    cursor: pointer;
}

.header-image img {
    width: 175px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 75px;
}

/***** Home navigation ***********************************************************/

.home-mid-nav {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.home-mid-nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
}

.home-mid-nav li {
    display: inline-block;
}

/***** projects page ***********************************************************/

.projects-hero-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo logo" "img descr";
    background: #f8f8f8;
    @media (prefers-color-scheme: dark) {
        background: #232323;
    }
}

.projects-hero-logo {
    grid-area: logo;
    margin: -6% auto;
    padding-top: 20px;
    width: 50%;
}

.projects-hero-img {
    width: 100%;
    grid-area: img;
}

.project-hero-descr {
    grid-area: descr;
    margin: auto 30px auto 0;
    img {
        margin: 0 auto 5% -10px;
        left: 0px;
        width: 35vw;
    }
    li {
        font-size: 1rem;
        line-height: 1.2em;
        list-style: none;
        margin: 15px 5px;
        text-align: center;
    }
}

@media screen and (max-width: $on-laptop) {
    .projects-hero-container {
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "logo" "img" "descr";
    }
    .projects-hero-img {
        width: 100%;
    }
    .project-hero-descr {
        margin: 0 5% 20px;
    }
    .projects-hero-logo {
        width: 80%;
    }
}

/***** Site footer ***********************************************************/

.site-footer {
    padding: 2px;
    width: 100%;
    text-align: center;
    padding: 3rem 0 1rem;
}

.site-footer p {
    margin-bottom: 0; // Remove margin set in _sass/_base.scss for vertical rythm
}

/***** Social links (Twitter, Github...) *******************************************/

.social-links {
    margin: 30px 0;
    a {
        font-size: 20px;
        text-decoration: none;
        margin: 20px 10px;
    }
    a:hover {
        span {
            color: $accent-medium;
            transform: scale(1.1);
            transition: transform 0.1s ease-in;
        }
    }
}

/***** Pagination ***********************************************************/

.pagination {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 50px;
}

.paginationicon {
    font-size: 50px;
}

/***** Page content ***********************************************************/

.page-content {
    padding: 1%;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin: 0px 0;
    list-style: none;
    > li {
        background-color: none;
        margin-bottom: $vertical-spacing-unit;
        display: flex;
        flex-direction: column;
    }

    h2,
    p {
        text-align: center !important;
    }
}

.post-list-title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: center;
}

.contacticon {
    font-size: 60px;
    display: block;
    margin: 10px;
}

.center {
    text-align: center;
}

.maxwidth {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/***** Posts ***********************************************************/

.page-header,
.post-header {
    margin: 0;
    padding-bottom: 2rem;
}

.page-title,
.post-title {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 100%;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 42px;
    }
}

.page-content,
.post-content {
    h1,
    h2,
    h3 {
        padding: 2rem 0 0.3rem;
    }
    h1 {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 900;
        letter-spacing: -1px;
    }
    h2 {
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 800;
    }
    h3 {
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-weight: 600;
    }
    p {
        margin: 0;
    }
    p,
    ul {
        font-size: 1.1rem;
        font-stretch: expanded;
        font-weight: 100;
        line-height: 1.3rem;
        padding-bottom: 1.5rem;
        text-align: justify;
    }
    li p {
        text-align: left;
    }
}

.post-meta {
    color: #828282;
    font-size: 0.9rem !important;
    padding: 0 !important;
    text-align: center;
}

.post-link {
    display: block;
    font-size: 42px;
}

.post-center-img {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 75vw;
}

/***** Portfolio grid ***********************************************************/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.project {
    width: 33.33%;
    height: 250px;
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
}

/***** Portfolio pages ***********************************************************/

.img_row {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: $img_spacing;
}

.img_row_constrained {
    height: $img_height;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: $img_spacing;
}

.project_img,
.project_img img {
    width: 95%;
    grid-area: img;
    margin: auto;
}

.right {
    float: right;
}

.caption {
    height: 100%;
    color: $caption_color;
    text-align: center;
    vertical-align: middle;
    font-size: $caption_font_size;
}

.hero-img {
    background: url("/assets/cryptotracker/hero-img.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    position: relative;
    height: 45vh;
    margin-right: -8%;
    margin-left: -8%;
    @include media-query($on-laptop) {
        margin-right: -8%;
        margin-left: -8%;
        height: 60vh;
    }
}

.project-descr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2% 1rem;
    @media screen and (max-width: $on-laptop) {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto !important;
        grid-template-areas: "descr" "img" !important;
        div {
            margin: auto !important;
        }
        h5 {
            padding-right: 0% !important;
        }
        h1 {
            text-align: center;
        }
        img,
        picture {
            margin: 0 auto;
            // width: 100%;
            width: 100%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}

.project-descr:nth-child(odd) {
    grid-template-areas: "img descr";
    div {
        margin-left: 50px;
    }
}

.project-descr:nth-child(even) {
    grid-template-areas: "descr img";
    div {
        margin-left: 50px;
    }
}

.project_explanation {
    margin: auto 0;
    h1 {
        font-size: 2.3em;
        font-weight: 600;
        line-height: 1em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }
    h5 {
        font-size: 1.4em;
        font-weight: lighter;
        text-align: justify;
        padding-right: 12%;
        @media screen and (max-width: $on-laptop) {
            margin: 0 2%;
        }
    }
}

.img-center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* ####################################
			About page 
#################################### */

.about-container {
    img {
        border-radius: 50%;
        width: 200px;
        margin-bottom: 30px;
    }
    h1 {
        font-weight: 800;
        font-size: 32px;
    }
}
